# Google Sheets API
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=your-google-sheet-id
GOOGLE_SHEET_RANGE=A2:F

# Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=your-mercadopago-access-token

# App Configuration
NEXT_PUBLIC_BASE_URL=http://localhost:3000 